NODE_ENV=development
PORT=3001
CORS_ORIGIN=http://localhost:3000

# DATABASE
POSTGRES_USER=lite_notion
POSTGRES_DB=lite_notion
POSTGRES_PASSWORD=lite_notion
POSTGRES_PORT=5432
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:${POSTGRES_PORT}/${POSTGRES_DB}?schema=public
DATABASE_CONNECTION_TIMEOUT_MS=5000
